{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>PhD Admission Form</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
		hr{
			border: none;
    		height: 1px;
    		background-color: black;
		}
	</style>

</head>

<body>

<center><a href="/"> <img  src="{% static 'img/HINDI2.png' %}" align="center" style="background-color:#003A6A;" height="110px" width="100%px" alt="National Institute of Technology Andhra Pradesh" title="National Institute of Technology Andhra Pradesh"/></a></center>

<div class="row" style="background-color:#003A6A; color: white;">
	<center><h2>PhD Admission Form</h2></center>
	<br>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h3><b>Page Not Found</b></h3>
		<p>In case of any queries , mail at support_admissions_2017@nitw.ac.in</p>
	</div>
</div>
	
</body>

</html>